/*selector digunakan untuk memilih bagian dari HTML yang akan diubah*/
/*syntax CSS adalah selector(properties: value;}*/

/*selector dengan nama tag*/
h1{
    color: black;
}

/*selector id*/
#judul{
    color: orange;
}
/*selector class*/
.tengah{
    align-self: center;
    color: blue;
}

/*Multy selector*/
h2, h3, h4{
    color: midnightblue;
}

/*lebih spesifik lagi bisa*/
h2.tengah{
    color: pink;
}